In [ ]:
Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is 
symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [1]:
#ans1.
def is_symmetrical(n):
    s = str(n)
    if s == s[::-1]:
        return True
    else:
        return False

In [2]:
is_symmetrical(7227)

True

In [3]:
is_symmetrical(12567)

False

In [4]:
is_symmetrical(44444444)

True

In [5]:
is_symmetrical(9939)

False

In [6]:
is_symmetrical(1112111)

True

In [ ]:
Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [7]:
#ans2.
def multiply_nums(s):
    l = s.split(", ")
    m = 1
    for i in l:
        m = m*int(i)
    return m

In [8]:
multiply_nums("2, 3")

6

In [9]:
multiply_nums("1, 2, 3, 4")

24

In [10]:
multiply_nums("54, 75, 453, 0")

0

In [11]:
multiply_nums("10, -2")

-20

In [ ]:
Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [1]:
#ans3.
def square_digits(n):
    l = list()
    s = str(n)
    for i in s:
        l.append(str(int(i)**2))
    return int("".join(l))

In [2]:
square_digits(9119)

811181

In [3]:
square_digits(2483)

416649

In [4]:
square_digits(3212)

9414

In [ ]:
Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [5]:
#ans4.
def setify(l):
    l1 = list(set(l))
    return l1

In [6]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [7]:
setify([4, 4, 4, 4])

[4]

In [8]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [9]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

In [ ]:
Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6
Notes
•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is 
                                                                             (5+1+2)/3(number of digits) = 8/3=2).
•	The mean will always be an integer.

In [10]:
#ans5.
def mean(n):
    s = str(n)
    ln = len(s)
    add = 0
    for i in s:
        add = add + int(i)
    return int(add/ln)

In [11]:
mean(42)

3

In [12]:
mean(12345)

3

In [13]:
mean(666)

6