In [ ]:
Question1. Write a function that stutters a word as if someone is struggling to read it. The first two letters are 
repeated twice with an ellipsis ... and space after each, and then the word is pronounced with a question mark ?.
Examples
stutter("incredible") ➞ "in... in... incredible?"

stutter("enthusiastic") ➞ "en... en... enthusiastic?"

stutter("outstanding") ➞ "ou... ou... outstanding?"

Hint :- Assume all input is in lower case and at least two characters long.

In [1]:
#ans1.
def stutter(a):
    if type(a) == str and len(a)>=2:
        return (f"{a[:2]}... {a[:2]}... {a}?")

In [2]:
stutter("incredible")

'in... in... incredible?'

In [3]:
stutter("enthusiastic")

'en... en... enthusiastic?'

In [4]:
stutter("outstanding")

'ou... ou... outstanding?'

In [ ]:
Question 2.Create a function that takes an angle in radians and returns the corresponding angle in degrees rounded to 
one decimal place.
Examples
radians_to_degrees(1) ➞ 57.3

radians_to_degrees(20) ➞ 1145.9

radians_to_degrees(50) ➞ 2864.8

In [10]:
#ans2.
def radians_to_degrees(r):
    if type(r) == int or type(r) == float:
        d = 57.296*r
        return round(d,1)

In [11]:
radians_to_degrees(1)

57.3

In [12]:
radians_to_degrees(20)

1145.9

In [13]:
radians_to_degrees(50)

2864.8

In [ ]:
Question 3. In this challenge, establish if a given integer num is a Curzon number. If 1 plus 2 elevated to num is 
exactly divisible by 1 plus 2 multiplied by num, then num is a Curzon number.
Given a non-negative integer num, implement a function that returns True if num is a Curzon number, or False otherwise.
Examples
is_curzon(5) ➞ True
# 2 ** 5 + 1 = 33
# 2 * 5 + 1 = 11
# 33 is a multiple of 11

is_curzon(10) ➞ False
# 2 ** 10 + 1 = 1025
# 2 * 10 + 1 = 21
# 1025 is not a multiple of 21

is_curzon(14) ➞ True
# 2 ** 14 + 1 = 16385
# 2 * 14 + 1 = 29
# 16385 is a multiple of 29

In [14]:
#ans3.
def is_curzon(n):
    a = 2**n + 1 
    b = 2*n + 1
    if a%b == 0:
        return True
    else:
        return False

In [15]:
is_curzon(5)

True

In [16]:
is_curzon(10)

False

In [17]:
is_curzon(14)

True

In [ ]:
Question 4.Given the side length x find the area of a hexagon.
 
Examples
area_of_hexagon(1) ➞ 2.6

area_of_hexagon(2) ➞ 10.4

area_of_hexagon(3) ➞ 23.4

In [22]:
#ans4.
def area_of_hexagon(x):
    if type(x) == int or type(x) == float:
        area = ((3**(3/2))*(x**2))/2
        return round(area , 1)

In [23]:
area_of_hexagon(1)

2.6

In [24]:
area_of_hexagon(2)

10.4

In [25]:
area_of_hexagon(3)

23.4

In [ ]:
Question 5. Create a function that returns a base-2 (binary) representation of a base-10 (decimal) string number. 
To convert is simple: ((2) means base-2 and (10) means base-10) 010101001(2) = 1 + 8 + 32 + 128.
Going from right to left, the value of the most right bit is 1, now from that every bit to the left will be x2 the 
value, value of an 8 bit binary numbers are (256, 128, 64, 32, 16, 8, 4, 2, 1).
Examples
binary(1) ➞ "1"
# 1*1 = 1

binary(5) ➞ "101"
# 1*1 + 1*4 = 5

binary(10) ➞ "1010"
# 1*2 + 1*8 = 10

In [34]:
#ans5.
def binary(n):
    if n>1:
        binary(n//2)
    print(n%2,end='')

In [35]:
binary(1)

1

In [36]:
binary(5)

101

In [37]:
binary(10)

1010

In [38]:
#example is decimal to binary but asked binary to decimal
def decimal(s):
    b = 0
    for i in range(len(s)):
        b = b + int(s[-(i+1)])*(2**i)
    return b

In [39]:
decimal('1')

1

In [40]:
decimal('101')

5

In [41]:
decimal('1010')

10